// Game Filters
// ----------------------------------------------------------------------
.filter-games-matched {
  font-weight: bold;
  margin: rem($pm-size-1) 0 0 0;

  @include responds-to(small-screen) {
    display: none;
  }
}

.filter-actions {
  text-align: right;

  @include responds-to(max-screen-height-md) {
    display: none;
  }

  .common-btn {
    width: 100%;
  }

  @include responds-to(small-screen) {
    .btn-view-results {
      display: none;
    }

    .btn-reset-filters {
      width: auto;
    }
  }
}

.filter-checkbox {
  display: block;
  line-height: 1;
  position: relative;
  margin-bottom: rem(8px);
  padding-left: rem(25px);
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: normal;

  input {
    position: absolute;
    opacity: 0;
  }

  .filter-checkmark {
    background: #fff;
    height: rem(14px);
    width: rem(14px);
    position: absolute;
    top: 0;
    left: 0;
  }

  input:checked {
    ~ .filter-checkmark:after {
      display: block;
    }
  }

  .filter-checkmark {
    &::after {
      display: none;
      content: "";
      width: rem(5px);
      height: rem(10px);
      border: solid black;
      border-width: 0 rem(2px) rem(2px) 0;
      position: absolute;
      left: rem(5px);
      top: rem(2px);
      @include transform(rotate(45deg));
    }
  }
}
