// Icons
// ----------------------------------------------------------------------
// PLus/Minus
.plus-minus {
  display: inline-block;
  height: rem(12px);
  width: rem(12px);
  position: relative;

  &::before,
  &::after {
    display: block;
    content: "";
    position: absolute;
    transition: all 0.5s ease-out;
  }

  &.collapsed {
    &::before {
      background: $base-gray;
      height: rem(2px);
      width: rem(12px);
      top: rem(5px);
      left: 0;
    }

    &::after {
      background: $base-gray;
      height: rem(12px);
      width: rem(2px);
      top: 0;
      left: rem(5px);
    }
  }

  &.expanded {
    &::before {
      background: $base-gray;
      height: rem(2px);
      width: rem(12px);
      top: rem(5px);
      left: 0;
    }
  }
}

// Sort
.sort {
  display: inline-block;
  height: rem(18px);
  cursor: pointer;
  position: relative;
  left: rem(4px);

  &::before,
  &::after {
    display: block;
    content: "";
    height: 0;
    width: 0;
    border: rem(5px) solid transparent;
  }

  &::before {
    margin-top: rem(-3px);
    border-bottom-color: $base-gray;
  }

  &::after {
    margin-top: rem(3px);
    border-top-color: $base-gray;
  }
}
