// =iFrame
// ------------------------------------------------------
.iframe {
  position: relative;
  height: 0;
  max-height: 100%;
  max-width: 100%;
  min-height: calc(100% - #{$iframe-close-btn-bar + $pm-size-05});
  min-width: 100%;
  width: 0;

  @include responds-to(ipad) {
    height: 100%;
  }
}

.iframe-close-btn {
  background: transparent;
  color: $base-white;
  font-size: rem(13px);
  font-weight: bold;
  height: rem(24px);
  position: relative;
  text-transform: uppercase;
  margin: rem(5px) rem($pm-size-1) 0 0;
  padding: rem(1px) rem(5px);
  border: 1px solid $base-lighter-gray;
  border-radius: rem(4px);
  cursor: pointer;

  &:hover,
  &:focus {
    background: #000;
  }
}
