// Loader
// ----------------------------------------------------------------------
.loading {
  height: rem(50px);
  width: rem(50px);
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999;
  @include transform(translate(-50%, -50%));
}

.loader {
  height: rem(50px);
  width: rem(50px);
  position: relative;
  border-top: rem(6px) solid rgba($base-blue, 0.3);
  border-right: rem(6px) solid rgba($base-blue, 0.3);
  border-bottom: rem(6px) solid rgba($base-blue, 0.3);
  @include transform(translateZ(0));
  border-left: rem(6px) solid $base-blue;
  border-radius: 50%;
  -webkit-animation: load 1.5s infinite linear;
  animation: load 1.5s infinite linear;
}

@-webkit-keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
