// =Lobby Menu
// ------------------------------------------------------
.component-menu {
  background: $base-blue;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: -110%;
  z-index: 999;
  //box-shadow: 0 0 rem(5px) rem(5px) rgba($base-dark-gray, 0.5);
  @include transition(all, 0.25s, ease-in-out);

  &.expanded {
    left: 0;
  }

  @include responds-to(xs-screen) {
  }

  @include responds-to(handheld) {
  }

  @include responds-to(small-screen) {
    background: transparent;
    width: auto;
    position: relative;
    top: auto;
    left: 0;
  }

  @include responds-to(iphonex) {
  }

  ul {
    @include flexbox();
    margin: 0;

    > li {
      @include responds-to(small-screen) {
        margin-right: rem(3px);
      }

      > a,
      > button {
        background: transparent;
        display: block;
        font-size: rem(16px);
        color: #fff;
        height: 100%;
        text-align: left;
        text-decoration: none;
        padding: rem($pm-size-2) rem($pm-size-3);
        outline: 0 none;
        //@include gradient($base-dark-gray, transparent, vertical);

        svg {
          max-width: rem(18px);
          height: auto;
          position: relative;
          top: rem(2px);
          margin-right: rem($pm-size-1);
          fill: #fff;

          &.svg-bullhorn-icon {
            max-width: rem(20px);
            top: rem(3px);
          }

          .cls {
            fill: none;
            stroke: #fff;
            stroke-width: rem(5px);
          }
        }

        &:hover,
        &:focus {
          background: $base-blue;
          // @include gradient(transparent, $base-dark-gray, vertical);

          svg {
            fill: #fff;
          }
        }
      }

      &.active {
        > a {
          background: $base-blue;
        }
      }
    }
  }

  .btn-close {
    position: absolute;
    top: rem($pm-size-1);
    right: rem($pm-size-1);
  }
}
