// Pagination
// ----------------------------------------------------------------------
.pagination {
  display: inline-block;
  margin: rem($pm-size-2) 0;

  > a {
    cursor: pointer;
  }

  > a,
  > span {
    background-color: $base-white;
    display: block;
    float: left;
    color: $base-black;
    height: rem(25px);
    width: rem(25px);
    line-height: rem(25px);
    text-align: center;
    text-decoration: none;
    position: relative;
    border: 1px solid #ddd;

    &:hover,
    &:focus {
      background-color: #eee;
      border-color: #ddd;
    }

    &.active {
      background-color: $base-black;
      color: $base-white;
      cursor: default;
    }

    &.disabled {
      background-color: $base-white;
      color: #777;
      border-color: #ddd;
      cursor: not-allowed;
    }
  }
}
