// UGE Options Panel
// ------------------------------------------------------
.uge-options-component {
  position: relative;
  margin: 0 auto;

  &::before,
  &::after {
    content: "";
    display: table;
  }

  &::after {
    clear: both;
  }

  .uoc-header {
    min-height: rem(50px);
    position: relative;
    padding: rem($pm-size-1);

    > h1 {
      font-size: rem($base-font-size);
      font-weight: normal;
      margin: 0;

      @include responds-to(handheld) {
        font-size: rem(20px);
      }
    }

    .uoc-btn-close {
      display: block;
      height: rem(22px);
      width: rem(22px);
      position: absolute;
      top: rem($pm-size-1 - 4);
      right: rem($pm-size-05);
      text-indent: rem(-9999px);

      &::before,
      &::after {
        background-color: $base-text-color;
        content: "";
        height: rem(22px);
        width: rem(3px);
        position: absolute;
        top: 0;
        left: rem($pm-size-05);
      }

      &::before {
        @include transform(rotate(45deg));
      }

      &::after {
        @include transform(rotate(-45deg));
      }
    }
  }

  // Menu (tabs)
  // ------------------------------------------------------
  .uoc-menu {
    background-color: #363636;

    > button.uoc-btn {
      display: inline-block;
      width: 50%;
      min-height: rem(50px);
      line-height: $base-line-height;
      border-left: rem(2px) solid $base-dark-gray;

      &.disabled {
        display: none;
      }

      &:first-child {
        border: 0;
      }

      &:last-child {
        border-right: 0;
      }

      .svg-icon {
        fill: #989898;
        position: relative;
        top: rem(4px);
      }

      &:hover,
      &.active {
        .svg-icon {
          fill: $base-white;
        }
      }
    }

    &.tabs-x3 {
      > button.uoc-btn {
        width: 33.333333%;
      }
    }
  }

  // Component Elements
  // ------------------------------------------------------
  .uge-options-panel {
    min-height: rem(400px);
  }

  // Individual Game Option
  .uoc-game-options {
    padding: rem($pm-size-1);

    @include responds-to(handheld) {
      padding: rem($pm-size-2) rem($pm-size-2) rem($pm-size-1) rem($pm-size-2);
    }

    @include responds-to(small-screen) {
      padding-bottom: rem($pm-size-5);
    }

    h2 {
      font-size: rem($base-font-size);
      text-transform: uppercase;
      padding-bottom: rem($pm-size-1);
      border-bottom: rem(2px) solid #cbcbcb;

      @include responds-to(handheld) {
        margin-bottom: rem($pm-size-1);
      }
    }

    // Bet Total display
    .uoc-bet-total-display {
      background: #e8e8e8;
      color: $base-black;
      font-size: rem(18px);
      font-weight: bold;
      min-height: rem(50px);
      text-align: center;
      margin-bottom: rem($pm-size-4);
      padding-top: rem($pm-size-1);
      border-radius: rem(50px);

      @include responds-to(handheld) {
        font-size: rem(22px);
        padding-top: rem($pm-size-05 + 3);
      }
    }

    .uoc-option {
      min-height: rem(80px);

      .uoc-option-label {
        display: inline-block;
        font-size: rem(14px);
        font-weight: bolder;
        width: rem(50px);
        line-height: 1.1;
        vertical-align: middle;

        @include responds-to(handheld) {
          font-size: rem($base-font-size);
          width: rem(60px);
        }
      }

      .uoc-btn-help {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        margin: 0 rem($pm-size-05) 0 rem($pm-size-05 - 2);

        @include responds-to(handheld) {
          margin-right: rem($pm-size-1);
        }

        .svg-icon {
          display: block;
          fill: #a2a2a4;
        }
      }

      .uoc-btn-dec {
        background: $base-dark-gray;
        display: inline-block;
        color: $base-white;
        height: rem(40px);
        width: rem(55px);
        text-indent: rem(-9999px);
        vertical-align: middle;
        position: relative;
        margin: 0 rem($pm-size-05 - 2);
        border-radius: rem(30px);

        @include responds-to(handheld) {
          height: rem(50px);
          width: rem(70px);
        }

        &:disabled {
          background: $base-gray;
          cursor: default;
        }

        &::after {
          background: $base-white;
          display: block;
          content: "";
          height: rem(6px);
          width: rem(18px);
          position: absolute;
          top: 50%;
          left: 50%;
          @include transform(translate(-50%, -50%));
        }
      }

      .uoc-btn-inc {
        background: $base-dark-gray;
        display: inline-block;
        color: $base-white;
        height: rem(40px);
        width: rem(55px);
        text-indent: rem(-9999px);
        vertical-align: middle;
        position: relative;
        margin: 0 rem($pm-size-05 - 2);
        border-radius: rem(30px);

        @include responds-to(handheld) {
          height: rem(50px);
          width: rem(70px);
        }

        &:disabled {
          background: $base-gray;
          cursor: default;
        }

        &::before,
        &::after {
          background: $base-white;
          display: block;
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          @include transform(translate(-50%, -50%));
        }

        &::before {
          height: rem(5px);
          width: rem(20px);
        }

        &::after {
          height: rem(20px);
          width: rem(5px);
        }
      }

      .uoc-option-total {
        background: #e8e8e8;
        display: inline-block;
        font-weight: bold;
        height: rem(34px);
        min-width: rem(50px);
        text-align: center;
        vertical-align: middle;
        position: relative;
        margin: 0 0 0 rem($pm-size-05 + 2);
        padding-top: rem($pm-size-05);
        border-radius: rem(10px);

        @include responds-to(handheld) {
          min-width: rem(65px);
        }
      }

      &.disabled {
        pointer-events: none;
        cursor: default;
        opacity: 0.5;

        .uoc-btn-inc,
        .uoc-btn-dec {
          background: $base-gray;
          cursor: default;
        }
      }
    }

    // Individual Setting
    .uoc-setting {
      position: relative;
      margin-top: rem($pm-size-1 + 5);

      @include responds-to(handheld) {
        margin-top: rem($pm-size-2 + 5);
      }

      &::after {
        display: table;
        content: "";
        clear: both;
      }

      .uoc-setting-label {
        display: inline-block;
        font-size: rem($base-font-size);
        font-weight: bold;
        line-height: 1.2;

        @include responds-to(handheld) {
          min-width: rem(65px);
          font-size: rem(18px);
        }
      }

      .toggle-switch {
        float: right;
        top: rem(2px);
      }

      .btn-group {
        position: relative;
        margin-top: rem($pm-size-05);

        &::after {
          display: table;
          content: "";
          clear: both;
        }

        @include responds-to(handheld) {
          float: right;
        }

        .toggle-button {
          float: left;

          > button {
            background: #fff;
            display: block;
            color: #000;
            padding: rem($pm-size-1 - 2) rem($pm-size-2);
            border: 1px solid $base-gray;
            outline: 0 none;
            cursor: pointer;

            &.active {
              background-color: $base-dark-gray;
              color: #fff;
            }
          }

          &:first-child {
            > button {
              border-right: 0;
              border-top-left-radius: rem(4px);
              border-bottom-left-radius: rem(4px);
            }
          }

          &:last-child {
            > button {
              border-left: 0;
              border-top-right-radius: rem(4px);
              border-bottom-right-radius: rem(4px);
            }
          }
        }
      }

      // Individual Child Settings
      .uoc-setting {
        padding-left: rem($pm-size-1);

        @include responds-to(handheld) {
          padding-left: rem($pm-size-2);
        }

        .uoc-setting-label {
          font-weight: normal;
        }

        &.disabled {
          .uoc-setting-label {
            color: $base-dark-gray;
          }

          .toggle-switch {
            .toggle-switch-container {
              .toggle-slider {
                opacity: 0.55;
                cursor: default;
                &::before {
                  cursor: default;
                }
              }
            }
          }
        }
      }
    }
  }

  // Btn Save/Apply
  .common-btn {
    &.uoc-btn-save {
      background: $base-blacker;
      float: right;
      margin-right: rem($pm-size-1);

      @include responds-to(handheld) {
        margin: 0;
        position: absolute;
        bottom: rem($pm-size-1);
        right: rem($pm-size-2);
      }

      @include responds-to(small-screen) {
        bottom: rem($pm-size-2);
      }
    }
  }

  // Modal
  .uoc-modal {
    background: $base-white;
    min-width: rem(240px);
    max-width: rem(300px);
    padding: rem($pm-size-2);
    border: rem(1px) solid #000;
    border-radius: rem(10px);
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2999;
    @include transform(translate(-50%, -50%));

    .uoc-modal-btn-close {
      background: #000;
      height: rem(40px);
      width: rem(40px);
      position: absolute;
      top: rem(-12px);
      right: rem(-12px);
      text-indent: rem(-9999px);
      border-radius: 100%;

      &::before,
      &::after {
        background-color: $base-white;
        content: "";
        height: rem(21px);
        width: rem(3px);
        position: absolute;
        top: rem(10px);
        left: rem(19px);
      }

      &::before {
        @include transform(rotate(45deg));
      }

      &::after {
        @include transform(rotate(-45deg));
      }
    }
  }

  .uoc-modal-overlay {
    background: rgba($base-gray, 0.2);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1999;
  }

  // Buttons, Controls & Form Elements
  // ------------------------------------------------------
  button.uoc-btn {
    background: transparent;
    border: 0;
    outline: 0 none;
    cursor: pointer;
  }

  fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
  }

  label {
    display: inline-block;
    max-width: 100%;
  }

  legend {
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
  }

  progress {
    display: inline-block;
    vertical-align: baseline;
  }

  [type="checkbox"],
  [type="radio"] {
    padding: 0;
  }

  [type="number"]::-webkit-inner-spin-button,
  [type="number"]::-webkit-outer-spin-button {
    height: auto;
  }

  input[type="radio"],
  input[type="checkbox"] {
    line-height: normal;
    margin: rem(4px) rem(4px) 0 0;
  }

  input[type="range"] {
    display: block;
    width: 100%;
  }

  select[multiple],
  select[size] {
    height: auto;
  }

  input[type="file"]:focus,
  input[type="radio"]:focus,
  input[type="checkbox"]:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }

  // UGE Toggle Switch
  // ------------------------------------------------------
  .toggle-switch {
    display: block;
    width: rem(55px);
    position: relative;

    .toggle-switch-container {
      height: rem(16px);
      width: rem(45px);
      position: relative;

      .toggle-slider {
        background: #c6c6c6;
        border-radius: rem(20px);
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        @include transition(null, 0.3s, ease);

        &::before {
          background: $base-white;
          content: "";
          height: rem(24px);
          width: rem(24px);
          margin: 0;
          padding: 0;
          border: 1px solid #c6c6c6;
          border-radius: 100%;
          cursor: pointer;
          position: absolute;
          top: 50%;
          left: 0;
          @include transform(translateY(-50%));
          @include transition(null, 0.3s, null);
          box-shadow: 0, rem(2px), rem(4px), 0, rgba(#000, 0.3);
        }

        &:hover {
          &::before {
            background: #a6d6be;
          }
        }

        &.is-checked {
          background: #a6d6be;

          &::before {
            background: #00aa66;
            left: calc(100% - 1.5rem);
            border: 1px solid #00aa66;
          }
        }
      }
    }
  }

  // UGE Range Slider
  // ------------------------------------------------------
  div.range-slider-container {
    margin: rem($pm-size-2) 0;

    div.range-slider {
      &::after {
        display: table;
        content: "";
        clear: both;
      }
    }

    .range-input-container {
      float: left;
      width: percentage(520 / $base-width-desktop-px);

      @include responds-to(handheld) {
        width: percentage(600 / $base-width-desktop-px);
      }

      @include responds-to(wide-screen) {
        width: percentage(680 / $base-width-desktop-px);
      }
    }

    .range-output {
      background: #00aa66;
      display: block;
      float: right;
      color: #fff;
      font-weight: bold;
      width: rem(64px);
      text-align: center;
      position: relative;
      margin-top: rem(-$pm-size-05 - 4);
      padding: rem(3px) 0 0 0;
      border-radius: rem(4px);

      &::before {
        display: block;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        left: rem(-14px);
        top: 50%;
        border: rem(7px) solid #00aa66;
        border-top-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
        @include transform(translateY(-50%));
      }

      &.disabled {
        background: #a6d6be;

        &::before {
          border: rem(7px) solid #a6d6be;
          border-top-color: transparent;
          border-bottom-color: transparent;
          border-left-color: transparent;
        }
      }
    }
  }

  // Input Range
  // TODO: Test in IE Mobile
  input.range-input {
    background: #ccc;
    height: rem(3px);
    border-radius: rem(5px);
    outline: 0 none;
    -webkit-appearance: none;
    cursor: pointer;

    // Chrome Safari Dolphine
    &::-webkit-slider-thumb {
      background: #00aa66;
      height: rem(26px);
      width: rem(40px);
      border-radius: rem(20px);
      -webkit-appearance: none;
      box-shadow: 0, 2px, 4px, 0, rgba(#000, 0.3);
    }

    &:disabled {
      &::-webkit-slider-thumb {
        background: #a6d6be;
      }
    }

    // Firefox
    &::-moz-range-track {
      background: #ccc;
      height: rem(3px);
      width: 100%;
    }

    &::-moz-range-thumb {
      background: #00aa66;
      height: rem(26px);
      width: rem(40px);
      cursor: pointer;
      border: 0;
      border-radius: rem(20px);
      box-shadow: 0, 2px, 4px, 0, rgba(#000, 0.3);
    }

    &:disabled {
      &::-moz-range-thumb {
        background: #a6d6be;
      }
    }
  }

  .iframe-help {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    -webkit-overflow-scrolling: touch;

    @include responds-to(handheld) {
      height: calc(100% - 115px);
    }
  }
}
