// Swiper
// ----------------------------------------------------------------------
.swiper-container {
  list-style: none;
  width: 100%;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  padding: 0;
  z-index: 1;
  -webkit-overflow-scrolling: touch;

  .swiper-container-no-flexbox {
    .swiper-slide {
      float: left;
    }
  }

  .swiper-container-vertical {
    > .swiper-wrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
    }
  }

  .swiper-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-box-align: top;
    -webkit-align-items: top;
    -ms-flex-align: top;
    align-items: top;
    text-align: center;
  }
}

.swiper-container-android .swiper-slide,
.swiper-wrapper {
  @include transform(translate3d(0, 0, 0));
}

.swiper-slide {
  width: 100%;
  position: relative;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.swiper-container-autoheight {
  .swiper-wrapper {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-transition-property: height, -webkit-transform;
    transition-property: height, -webkit-transform;
    transition-property: transform, height;
    transition-property: transform, height, -webkit-transform;
  }
}

.swiper-button-prev,
.swiper-button-next {
  background-position: center;
  background-repeat: no-repeat;
  width: rem(27px);
  height: rem(44px);
  position: absolute;
  top: 50%;
  z-index: 100;
  cursor: pointer;
}

.swiper-button-lock {
  display: none;
}

// Swiper 4.4.1
// Most modern mobile touch slider and framework with hardware accelerated transitions
// http://www.idangero.us/swiper/
// Copyright 2014-2018 Vladimir Kharlampidi
// Released under the MIT License
// Released on: September 20, 2018
.swiper-container-vertical {
  > .swiper-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.swiper-container-android {
  .swiper-slide,
  .swiper-wrapper {
    @include transform(translate3d(0, 0, 0));
  }
}

.swiper-container-multirow {
  > .swiper-wrapper {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

.swiper-container-free-mode {
  > .swiper-wrapper {
    margin: 0 auto;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
}

.swiper-slide {
  width: 100%;
  height: 100%;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  position: relative;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.swiper-slide-invisible-blank {
  visibility: hidden;
}

// Auto Height
.swiper-container-autoheight,
.swiper-container-autoheight {
  .swiper-slide {
    height: auto;
  }
}

.swiper-container-autoheight {
  .swiper-wrapper {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-transition-property: height, -webkit-transform;
    transition-property: height, -webkit-transform;
    transition-property: transform, height;
    transition-property: transform, height, -webkit-transform;
  }
}

.swiper-button-prev,
.swiper-button-next {
  background-position: center;
  background-repeat: no-repeat;
  width: rem(27px);
  height: rem(44px);
  position: absolute;
  top: 50%;
  z-index: 10;
  cursor: pointer;
}

.swiper-button-prev,
.swiper-button-next {
  &.swiper-button-disabled {
    opacity: 0.5;
    cursor: auto;
  }
}

.swiper-button-prev,
.swiper-container-rtl {
  .swiper-button-next {
    left: 0;
    right: auto;
  }
}

.swiper-button-next,
.swiper-container-rtl {
  .swiper-button-prev {
    right: 0;
    left: auto;
  }
}

.swiper-button-lock {
  display: none;
}

.swiper-pagination {
  position: absolute;
  text-align: center;
  -webkit-transition: 300ms opacity;
  transition: 300ms opacity;
  @include transform(translate3d(0, 0, 0));
  z-index: 10;
}

.swiper-pagination {
  &.swiper-pagination-hidden {
    opacity: 0;
  }
}

// Common Styles
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-container-horizontal {
  > .swiper-pagination-bullets {
    width: 100%;
    bottom: 10px;
    left: 0;
  }
}

// Bullets
.swiper-pagination-bullets-dynamic {
  font-size: 0;
  overflow: hidden;

  .swiper-pagination-bullet {
    position: relative;
    @include scale(0.33);
  }

  .swiper-pagination-bullet-active {
    @include scale(1);
  }

  .swiper-pagination-bullet-active-main {
    @include scale(1);
  }

  .swiper-pagination-bullet-active-prev {
    @include scale(0.66);
  }

  .swiper-pagination-bullet-active-prev-prev {
    @include scale(0.33);
  }

  .swiper-pagination-bullet-active-next {
    @include scale(0.66);
  }

  .swiper-pagination-bullet-active-next-next {
    @include scale(0.33);
  }
}

.swiper-pagination-bullet {
  background: #000;
  display: inline-block;
  width: rem(8px);
  height: rem(8px);
  border-radius: 100%;
  opacity: 0.2;
}

button.swiper-pagination-bullet {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.swiper-pagination-clickable {
  .swiper-pagination-bullet {
    cursor: pointer;
  }
}

.swiper-pagination-bullet-active {
  background: #007aff;
  opacity: 1;
}

.swiper-container-vertical {
  > .swiper-pagination-bullets {
    right: 10px;
    top: 50%;
    @include transform(translate3d(0, -50%, 0));
  }
}

.swiper-container-vertical {
  > .swiper-pagination-bullets .swiper-pagination-bullet {
    display: block;
    margin: rem(6px) 0;
  }
}

.swiper-container-vertical {
  > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    top: 50%;
    width: rem(8px);
    @include transform(translateY(-50%));
  }
}

.swiper-container-vertical {
  > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
    display: inline-block;
    -webkit-transition: 200ms top, 200ms -webkit-transform;
    transition: 200ms top, 200ms -webkit-transform;
    transition: 200ms transform, 200ms top;
    transition: 200ms transform, 200ms top, 200ms -webkit-transform;
  }
}

.swiper-container-horizontal {
  > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 rem(4px);
  }
}

.swiper-container-horizontal {
  > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    left: 50%;
    @include transform(translateX(-50%));
    white-space: nowrap;
  }
}

.swiper-container-horizontal {
  > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
    -webkit-transition: 200ms left, 200ms -webkit-transform;
    transition: 200ms left, 200ms -webkit-transform;
    transition: 200ms transform, 200ms left;
    transition: 200ms transform, 200ms left, 200ms -webkit-transform;
  }
}

.swiper-container-horizontal.swiper-container-rtl {
  > .swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
    -webkit-transition: 200ms right, 200ms -webkit-transform;
    transition: 200ms right, 200ms -webkit-transform;
    transition: 200ms transform, 200ms right;
    transition: 200ms transform, 200ms right, 200ms -webkit-transform;
  }
}

// Progress
.swiper-pagination-progressbar {
  background: rgba(#000, 0.25);
  position: absolute;
}

.swiper-pagination-progressbar {
  .swiper-pagination-progressbar-fill {
    background: #007aff;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    @include scale(0);
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top;
  }
}

.swiper-container-rtl {
  .swiper-pagination-progressbar {
    .swiper-pagination-progressbar-fill {
      -webkit-transform-origin: right top;
      -ms-transform-origin: right top;
      transform-origin: right top;
    }
  }
}

.swiper-container-horizontal > .swiper-pagination-progressbar,
.swiper-container-vertical {
  > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
    width: 100%;
    height: rem(4px);
    left: 0;
    top: 0;
  }
}

.swiper-container-vertical > .swiper-pagination-progressbar,
.swiper-container-horizontal {
  > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
    width: rem(4px);
    height: 100%;
    left: 0;
    top: 0;
  }
}

.swiper-pagination-white {
  .swiper-pagination-bullet-active {
    background: #fff;
  }
}

.swiper-pagination-progressbar {
  &.swiper-pagination-white {
    background: rgba(#fff, 0.25);
  }

  &.swiper-pagination-white {
    .swiper-pagination-progressbar-fill {
      background: #fff;
    }
  }

  &.swiper-pagination-black {
    background: rgba(#000, 0.25);
  }

  &.swiper-pagination-black {
    .swiper-pagination-progressbar-fill {
      background: #000;
    }
  }
}
.swiper-pagination-black {
  .swiper-pagination-bullet-active {
    background: #000;
  }
}

.swiper-pagination-lock {
  display: none;
}

// Scrollbar
.swiper-scrollbar {
  background: rgba(#000, 0.1);
  position: relative;
  border-radius: 10px;
  touch-action: none;
  -ms-touch-action: none;
}

.swiper-container-horizontal {
  > .swiper-scrollbar {
    height: rem(5px);
    width: 98%;
    position: absolute;
    left: 1%;
    bottom: 3px;
    z-index: 50;
  }
}

.swiper-container-vertical {
  > .swiper-scrollbar {
    width: rem(5px);
    height: 98%;
    position: absolute;
    right: rem(3px);
    top: 1%;
    z-index: 50;
  }
}

.swiper-scrollbar-drag {
  background: rgba(#000, 0.5);
  height: 100%;
  width: 100%;
  border-radius: rem(10px);
  position: relative;
  left: 0;
  top: 0;
}

.swiper-scrollbar-cursor-drag {
  cursor: move;
}

.swiper-scrollbar-lock {
  display: none;
}

.swiper-container-fade.swiper-container-free-mode {
  .swiper-slide {
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
}

.swiper-container-fade {
  .swiper-slide {
    pointer-events: none;
    -webkit-transition-property: opacity;
    transition-property: opacity;
  }
}

.swiper-container-fade {
  .swiper-slide .swiper-slide {
    pointer-events: none;
  }
}

.swiper-container-fade .swiper-slide-active,
.swiper-container-fade .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}

.swiper-lazy-preloader {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 10;
  @include transform(translate(-50%, -50%));

  .results-loading {
    > svg {
      height: rem(30px);
      width: rem(30px);
    }
  }
}

.swiper-lazy {
  visibility: hidden;

  &.swiper-lazy-loaded {
    visibility: visible;
  }
}
